<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>937620239479-hn0dhg46nm37k7b3cdstkkct83s8m53n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937620239479-hn0dhg46nm37k7b3cdstkkct83s8m53n</string>
	<key>API_KEY</key>
	<string>AIzaSyCzBNT6DH4NxKzaVe4oYKdoW_a2n90xjv8</string>
	<key>GCM_SENDER_ID</key>
	<string>937620239479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>club.beconnected.SnapchatClone2</string>
	<key>PROJECT_ID</key>
	<string>snapchateclone2</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchateclone2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:937620239479:ios:7118f078a9fe6891</string>
	<key>DATABASE_URL</key>
	<string>https://snapchateclone2.firebaseio.com</string>
</dict>
</plist>